@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --border: 240 5.9% 90%;
    --muted-foreground: 240 3.8% 46.1%;
  
    --primary: #5EEAD4;
    --background: #0B0E14;
}
}
